@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

:root {
    --main-bg: #06101b;
    --main-text-color: #90855d;
    --body-text-color: #a89b69;
    --white-text: #fcf2cb;
    --brand-color: #0c1a29;
}

* {
    font-family: 'Raleway', sans-serif;
}

@keyframes fade-in-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    } 40% {
        opacity: 0;
    } 50% {
        transform: translateX(-100%);
        opacity: 0;
    } 60% {
        opacity: 0;
    } 100% {
        transform: translateX(0);
        opacity: 1;
    }
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--main-bg);
}

body::-webkit-scrollbar {
    display: none;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;
}

/* page show up and show down */

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

/* header */

.navbar {
    background-color: var(--main-bg);
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-collapse {
    justify-content: center;
    align-items: center;
}

/* toggle btn */

.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 30px;
    border: var(--main-text-color) solid 1px;
}

/* brand */

.navbar .brand{
    position: absolute;
    background-color: var(--brand-color);
    top: 15px;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .brand::before {
    content: '';
    border: var(--main-text-color) solid 1px;
    position: absolute;
    z-index: 88;
    width: 95%;
    height: 95%;
}

.navbar .brand img{
    width: 65px;
    height: 65px;
    padding: 15px 25px;
}

/* nav items */

.navbar .nav-item {
    padding: 12px 32px;
}

.navbar a {
    font-weight: 400;
    font-size: 16px;
    transition: all ease .3s;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--main-text-color);
}

.navbar a:hover {
    color: #cfc7ab;
}

/* home page */

.home-container {
    position: relative;
}

.home-container .top-bg-img {
    width: 100%;
    height: 100%;
    background: #000 url('https://raw.githubusercontent.com/Trungbui89/TheHaflington/gh-pages/assets/images/background/chess-player.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .top-bg-bar {
    width: 100%;
    height: 100vh;
}

/* brand-card */

.home-container .top-bg-img .brand-card {
    position: relative;
    margin-top: 5%;
}

.home-container .top-bg-img .brand-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: #9c9169 solid 1px;
    z-index: 2;
    top: -5%;
    left: -5%;
}

.home-container .top-bg-img .brand-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: #9c9169 solid 1px;
    z-index: 3;
    bottom: -5%;
    right: -5%;
}

.home-container .brand-card-container {
    background: #000 url('https://raw.githubusercontent.com/Trungbui89/TheHaflington/gh-pages/assets/images/background/card-background.jpg');
    background-size: cover;
    opacity: .95;
    color: #9c9169;
}

.home-container .brand-card-container .info-top {
    padding: 60px 24px 5px;
    display: flex;
    justify-content: center;
}

.home-container .brand-card-container .info-top p{
    padding: 0 12px;
    letter-spacing: 5px;
}

.home-container .brand-card-container .info-top p:nth-child(2)
{
    position: absolute;
    right: 50%;
    padding: 0;
    transform: translateX(50%);
}

.home-container .brand-card-container .info-top p:nth-child(1),
.home-container .brand-card-container .info-top p:nth-child(3) {
    flex-basis: 50%;
}

.home-container .brand-card-container .info-top p:nth-child(1) {
    text-align: right;
    margin-right: 10px;
}

.home-container .brand-card-container .info-top p:nth-child(3) {
    text-align: left;
    margin-left: 10px;
}


.home-container .brand-card-container .info-middle {
    padding: 5px 50px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container .brand-card-container .info-middle p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

.home-container .brand-card-container .info-middle p:last-child{
    font-family: 'Abril Fatface', cursive;
    font-size: 42px;
    letter-spacing: 2px;
}

.home-container .brand-card-container .info-bot {
    padding: 5px 24px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* home about us */

.about {
    width: 100%;
    background: #000 url('https://raw.githubusercontent.com/Trungbui89/TheHaflington/gh-pages/assets/images/background/card-background.jpg');
    color: var(--main-text-color);
}

.about-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 75px;
}

.about-title-top {
    font-weight: 700;
    letter-spacing: 3px;
}

.about-title-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title-bot p{
    font-family: 'BIZ UDPMincho', serif;
    font-size: 38px;
    color: var(--white-text);
    margin-bottom: 0;
}

.about-content {
    width: 60%;
    margin-top: 38px;
}

.about-content p{
text-align: center;
}

.about-arrow {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.about-header-container svg {
    color: var(--main-text-color);
    width: 10%;
    height: 10%;
    fill: var(--body-text-color);
    transform: rotate(180deg);
}

/* silder component */

.about-slide-container {
    width: 100%;
    position: relative;
    padding-bottom: 135px;
    padding-top: 135px;
    overflow: hidden;
}

/* silder panel*/

.about-slide-container .slide-content {
    width: 90%;
    height: 100%;
    position: relative;
}

.about-slide-container .slide-card-items::after {
    content: '';
    width: 60%;
    height: 60%;
    position: absolute;
    z-index: 5;
    top: -5%;
    right: -2.5%;
    border-top: 1px solid rgb(168, 155, 105);
    border-right: 1px solid rgb(168, 155, 105);
}


.about-slide-container .slide-card-items {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all ease-in-out 1s;
}

.about-slide-container .slide-card-items.preview {
    opacity: .1;
    z-index: 1;
    transform: translate(-65%, -10%);
}

.about-slide-container .slide-card-items.active {
    opacity: 1;
    z-index: 2;
}

.about-slide-container .slide-card-items.next {
    opacity: 0;
    z-index: 1;
    transform: translate(35%, 100%);
    top: 0;
    left: 0;
}

.about-slide-container .card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.about-slide-container .card-image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: radial-gradient(circle, 
            rgba(255,255,255,0) 0%, 
            rgba(8,15,25,.1) 90%, 
            rgba(8,15,25,.6) 100%);
}

.about-slide-container .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* slide btn */

.slide-btn-left,
.slide-btn-right {
    position: absolute;
    background-color: var(--brand-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
    border: none;
    outline: none !important;
}

.slide-btn-left:hover,
.slide-btn-right:hover {
    cursor: pointer;
    color: var(--white-text);
    background-color: #1d3249;
}

.slide-btn-left:hover::before,
.slide-btn-right:hover::before {
    border-color: #a89b69;
}

.slide-btn-left i,
.slide-btn-right i {
    font-size: 24px;
    display: block;
    line-height: 1;
    color: var(--main-text-color);
}

.slide-btn-left:hover i,
.slide-btn-right:hover i {
    color: var(--body-text-color);
}

.slide-btn-left::before,
.slide-btn-right::before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    border: 1px solid #90855d;
}

.slide-btn-right {
    top: -22%;
    right: 12%;
}

.slide-btn-left {
    top: -22%;
    right: 19%;
}

/* slide infomation vs clips infomation */

.infoList {
    width: 100%;
    height: 25rem;
}

.silde-info-body {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
}

.silde-info-body::after,
.clips-info-body::after {
    content: '';
    width: 60%;
    height: 50%;
    position: absolute;
    border-left: 1px solid #a89b69;
    border-bottom: 1px solid #a89b69;
    left: 8%;
    bottom: 1%;
}

.silde-info-body::before,
.clips-info-body::before {
    content: '';
    width: 60%;
    height: 50%;
    position: absolute;
    border-left: 1px solid #a89b69;
    border-bottom: 1px solid #a89b69;
    left: 5%;
    bottom: 5%;
}

.active.silde-info-body:before {
    animation: fade-in-out 1s ease;
}

.active.silde-info-body:after{
    animation: fade-in-out 1s ease .15s;

}

.silde-info-item,
.clips-info-item {
    position: absolute;
    z-index: 1;
    left: 15%;
    display: flex;
    flex-direction: column;
}

.silde-info-item p {
    width: 75%;
    position: relative;
    z-index: 1;
}

.silde-info-item p:nth-child(1) {
    color: var(--body-text-color);
    font-family: 'BIZ UDGothic', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 0;
    transform: translateX(80%);
    opacity: 0;
    transition: all .6s ease;
}

.silde-info-item p:nth-child(2) {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 32px;
    color: var(--white-text);
    transform: translateX(80%);
    opacity: 0;
    transition: all .6s ease;
    transition-delay: .05s;
}

.silde-info-item p:nth-child(3) {
    transform: translateX(80%);
    opacity: 0;
    transition: all .6s ease;
    transition-delay: .1s;
}

.silde-info-item.active p:nth-child(1){
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
    transition-delay: .6s;
}

.silde-info-item.active p:nth-child(2){
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
    transition-delay: .65s;
}

.silde-info-item.active p:nth-child(3){
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
    transition-delay: .7s;
}

/* clips info */

.about-clips-container {
    padding-bottom: 120px;
}

.clips-body .infoList {
    display: flex;
    justify-content: flex-end;
}

.clips-info-body {
    height: 100%;
    width: 70%;
    position: relative;
    right: 0;
}

.clips-info-item p {
    width: 55%;
    position: relative;
    right: 0;
}

.clips-info-item p:nth-child(1) {
    color: var(--body-text-color);
    font-family: 'BIZ UDGothic', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 0;
    transition: all .6s ease;
}

.clips-info-item p:nth-child(2) {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 32px;
    color: var(--white-text);
}

/* clips img */

.about-clips-container .card-image::after {
    content: '';
    width: 60%;
    height: 60%;
    position: absolute;
    z-index: 5;
    top: -5%;
    left: 0;
    border-top: 1px solid rgb(168, 155, 105);
    border-left: 1px solid rgb(168, 155, 105);
}

.clips-card-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.clips-card-items .card-image {
    width: 80%;
    height: 100%;
    overflow: hidden;
}

/* background img bot */

.background-bot-container {
    width: 100%;
    height: 100vh;
}

.img-container {
    width: 100%;
    height: 100%;
    background: #000 url('https://raw.githubusercontent.com/Trungbui89/TheHaflington/gh-pages/assets/images/background/cocktail-bar.jpg');
    background-size: cover;
}

/* footer */

.footer {
    background-color: var(--main-bg);
    margin:0px auto;
    padding: 50px 35px;
}

.brand-footer {
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--body-text-color);
    border: 1px solid var(--body-text-color);
    position: relative;
}

.brand-footer::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    border: 1px solid var(--body-text-color);
}

.brand-footer p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}

.brand-footer p:last-child{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

/* footer info */

.footer-info {
    font-family: 'Montserrat', cursive;
    color: var(--body-text-color);
}

.footer-open-times p {
    font-size: 20px;
    color: var(--body-text-color);
    margin-bottom: 0;
}

.footer-contact p:nth-child(1),
.footer-open-times p:nth-child(1) {
    font-size: 28px;
    font-weight: 500;
    color: var(--white-text);
    margin-top: 28px;
    margin-bottom: 28px;
}

.footer-contact p:nth-child(2) {
    font-size: 20px;
    color: var(--body-text-color);
    margin-bottom: 0;
}

.footer-contact p:nth-child(3) {
    font-size: 20px;
    color: var(--body-text-color);
}

/* social icons */

.footer-icon {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    justify-content: center;
    padding: 0;
}

.footer-icon a {
    color: var(--body-text-color);
    text-decoration: none;
}

.footer-icon .fa {
    border: 1px solid var(--body-text-color);
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    cursor: pointer;
    transition: all .3s ease;
}

.footer-icon .fa:hover {
    box-shadow: 0 0 24px rgba(168, 155, 105, .3);
    background-color: rgb(18, 40, 63);
}


.footer-icon .fa-instagram {
    margin: 16px 0;
}

/* responsive */

@media screen and (max-width: 767px) {
    
    /* brand */

    .navbar .brand{
        position: relative;
        left: 1%;
    }

    /* nav items */

    .navbar-nav {
        margin-top: 24px;
    }

    .navbar .nav-item {
        padding: 8px 6px;
    }

    .navbar .nav-item a{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 3px;
    }
}
